body {
    font-family: Arial, sans-serif;
    background-color: #0f1113;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex; */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #eeeeee;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

textarea {
    resize: vertical;
    font-weight: bold;
}

button {
    background-color:  #6d6098;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.botao-icone {
  /* display: flex;
  align-items: center;
  gap: 8px;
  background-color: #756a9c;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; */
  
 display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 700px;
  padding: 12px;
  background-color: #7a67aa; /* Roxo do botão */
  color: #cbbde2; /* Texto e ícone com tom claro */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background-color: #534974;
}


.icone {
  
  width: 34px;
  height: 32px;
  margin-bottom: 4px;
}

.cor {
    color: #6d6098;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #3a3f44;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

strong {
    color: #a596cf;
}

li span {
    display: block;
    
}

li button {
    background-color: #6d6098;
    margin-top: 5px;
}
